<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.main.shop">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".Activity.User.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Activity.User.RegistActivity" />
        <activity android:name=".Activity.LeadActivity" />
        <activity android:name=".Activity.UserInfo.UserInfoActivity" />
        <activity android:name=".Activity.MyMssAcitivity" />
        <activity android:name=".Activity.RechargeActivity" />
        <activity android:name=".Activity.DetailActivity" />
        //支付宝声明
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".Activity.User.ForgetPswActivity" />
        <activity android:name=".Activity.UserInfo.PersonalSign" />
        <activity android:name=".Activity.SuggestActivity" />
        <activity android:name=".Activity.SpreadActivity" />
        <activity android:name=".Activity.User.ResetMobileActivity" />
        //输入框的自动浮起
        //android:windowSoftInputMode="stateVisible|adjustResize"
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 融云配置 -->
        <!-- 会话列表 -->
        <activity
            android:name=".Activity.Rong.Conversation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- host为你自己当前工程的包名 -->
                <data
                    android:host="com.example.main.shop"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!-- 微信分享的回调 -->
        <!-- <activity -->
        <!-- android:name="com.example.main.shop.wxapi.WXEntryActivity" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" -->
        <!-- android:exported="true" -->
        <!-- android:screenOrientation="portrait"> -->
        <!-- </activity> -->
        <activity android:name=".Activity.Publish.ReleaseMsgActivity" />
        <activity android:name=".Activity.UserInfo.UserNameActivity" />
        <activity android:name=".Activity.UserInfo.LikeActivity" />
        <activity android:name=".Activity.AddFriend.AddFeiendActivity" />
        <activity android:name=".Activity.UserInfo.MyInfoActivity" />
        <activity android:name=".Activity.UserInfo.QrcodeAcitivity" />
        <activity android:name=".Activity.User.ResetPswActivity" />
        <activity android:name=".Activity.PayActivity.CashActivity" />
        <activity android:name=".Activity.PayActivity.WeachatPayActivity" />
        <activity android:name=".Activity.PayActivity.BankCardActivity" />
        <activity android:name=".Activity.PayActivity.AlipayActivity" />
        <activity android:name=".Activity.AddFriend.SameHobby" />
        <activity android:name=".Activity.AddFriend.ContactActivity" />
        <activity android:name=".Activity.UserInfo.ShareReward" />
        <activity android:name=".Activity.Publish.MyPublish" />
        <activity android:name=".Activity.Wallet.CourseActivity" />
        <activity android:name=".Activity.Wallet.CourseDetail" />
        <activity android:name=".Activity.AddFriend.SearchResult" />
        <activity android:name=".Activity.OrderActivity" />
        <activity android:name=".Activity.Wallet.TravelActivity" />
        <activity android:name=".Activity.Wallet.TravelInfoActivity" />
        <activity android:name=".Activity.AddFriend.NearActivity" />
        <activity android:name=".Activity.CommentActivity" />
        <activity android:name=".Activity.PlatForm"></activity>
    </application>

</manifest>